.mat-h2 {
    color: chocolate;
    font-style: italic;
}

.title-section {
    text-align: center;
    align-content: center;
    align-items: center;
}

.grid-title {
    background-color:floralwhite;
}
#usersColumnTitle, #candidatesColumnTitle{
    margin: auto;
}